$color-primary: #1b4dd8;
$color-field: #636464;

._ {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem;

  a {
    color: $color-primary;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .sub-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .title {
    margin-bottom: 0.5rem;
    color: $color-primary;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .sub-title {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .light-text {
    color: $color-field;
  }

  // aside
  ._aside {
    max-width: 30%;
  }

  ._name {
    color: $color-primary;
    font-family: "Calibri", sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
  }

  ._field {
    color: $color-field;
    font-weight: 300;
  }

  // Links
  ._contact-links {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  // Skills
}
