@import url("./css/fonts.scss");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /* width: 21cm;
  height: 29.7cm; */
  font-family: "Segoe UI", sans-serif;
  font-size: 25px;
  background-color: cadetblue;
}
