@import url("./css/fonts.scss");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  size: 7in 9.25in;
  /* margin: 27mm 16mm 27mm 16mm; */
  font-family: "Segoe UI", sans-serif;
}
